langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
chromadb
langchain_huggingface
langchain_chroma
langchain_groq
streamlit
arxiv
wikipedia
duckduckgo-search
validators==0.28.1
youtube_transcript_api

